canvas{
    position: absolute;
    top: 0;
    width: 1900px;
    height: inherit;
  }

#HappyBday{
    font-family: 'Monoton', cursive;
}

#HappyBday p{
    font-size: 155px;
    margin: 0;
    text-transform: uppercase;
    cursor: default;
}

.Wishes {
    font-family: 'Chakra Petch', sans-serif;
}

.wish{
    font-size: 50px;
    margin-top: 20px;
    height: 100px;
    text-align: center;
}

#text{
    margin: 0;
    color: white;
}
/* button */
.next{
    cursor: pointer;
    width: 100px;
    height: 60px;
    font-size: 24px;
    float: right;
    margin-right: 80px;
    font-family: 'Chakra Petch', sans-serif;
    border: none;
    border-radius: 25px;
    background-color: black;
    color: white;
}
.next:hover{
    background-image: linear-gradient(
       to right, 
       #E7484F,
       #E7484F 16.65%,
       #F68B1D 16.65%,
       #F68B1D 33.3%,
       #FCED00 33.3%,
       #FCED00 49.95%,
       #009E4F 49.95%,
       #009E4F 66.6%,
       #00AAC3 66.6%,
       #00AAC3 83.25%,
       #732982 83.25%,
       #732982 100%,
       #E7484F 100%
     );
   animation:slidebg 2s linear infinite;
 }
 
 @keyframes slidebg {
   to {
     background-position:20vw;
   }
 }

