canvas{
    position: absolute;
    top: 0;
    width: 1900px;
    height: inherit;
  }

body{
  margin: 0;
}

#HappyBday{
    font-family: 'Monoton', cursive;
}

#HappyBday p{
    font-size: 155px;
    text-transform: uppercase;
    cursor: default;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
}

#happy{
  margin-left: 200px;
}

#birth{
  margin-left: 550px;
}

#day{
  margin-left: 1000px;
}

.Wishes {
    font-family: 'Chakra Petch', sans-serif;
}

.wish{
    font-size: 50px;
    margin-top: 20px;
    height: 100px;
    text-align: center;
}

#text{
    margin: 0;
    color: white;
}
/* button */
.next{
    cursor: pointer;
    width: 100px;
    height: 60px;
    font-size: 24px;
    position: absolute;
    right: 0;
    margin-right: 80px;
    font-family: 'Chakra Petch', sans-serif;
    border: none;
    border-radius: 25px;
    background-color: black;
    color: white;
}
.next:hover{
    background-image: linear-gradient(
       to right, 
       #E7484F,
       #E7484F 16.65%,
       #F68B1D 16.65%,
       #F68B1D 33.3%,
       #FCED00 33.3%,
       #FCED00 49.95%,
       #009E4F 49.95%,
       #009E4F 66.6%,
       #00AAC3 66.6%,
       #00AAC3 83.25%,
       #732982 83.25%,
       #732982 100%,
       #E7484F 100%
     );
   animation:slidebg 2s linear infinite;
 }
 
 @keyframes slidebg {
   to {
     background-position:20vw;
   }
 }

/* responsive */
/* Iphone SE,7,8 */
@media(max-width: 920px){
  canvas{
    position: absolute;
    top: 0;
    width: 820px;
  }

  #happy,#birth,#day{
    margin-left: 20px;
  }

  .wish{
    font-size: 45px;
    margin: 10px 40px 0;
  }

  .next{
    margin-top: 20px;
    margin-right: 10px;
    width: 130px;
    height: 80px;
    font-size: 30px;
  }
}

@media(max-width: 540px){
  canvas{
    position: absolute;
    top: 0;
    width: 538px;
  }

  #HappyBday p {
    font-size: 100px;
  }
}


@media(max-width: 420px){
  canvas{
    position: absolute;
    top: 0;
    width: 415px;
  }

  #HappyBday p {
    font-size: 80px;
  }

  #happy,#birth,#day{
    margin-left: 20px;
  }

  .wish{
    font-size: 28px;
    margin: 10px 40px 0;
  }

  .next{
    margin-top: 20px;
    margin-right: 10px;
    width: 100px;
    height: 60px;
    font-size: 24px;
  }
}

@media(max-width: 392px){
  canvas{
    position: absolute;
    top: 0;
    width: 350px;
    height: 660px;
  }

  #HappyBday p {
    font-size: 75px;
  }

  #happy,#birth,#day{
    margin-left: 20px;
  }
  
  .wish{
    font-size: 24px;
    margin: 10px 10px 0;
  }

  .next{
    text-align: center;
    margin-right: 20px;
    margin-top: 20px;
  }
}

@media(max-width: 290px){
  canvas{
    position: absolute;
    top: 0;
    width: 350px;
    height: 660px;
  }

  #HappyBday p {
    font-size: 58px;
  }

  #happy,#birth,#day{
    margin-left: 20px;
  }
  
  .wish{
    font-size: 24px;
    margin: 10px 10px 0;
  }

  .next{
    text-align: center;
    margin-right: 20px;
    margin-top: 20px;
    width: 80px;
    height: 40px;
    font-size: 20px;
  }
}